﻿@{
    ViewBag.Title = "Hugestore oAuth";
}

<div class="jumbotron">
    <h1>MeLi Authenticator</h1>
    <p class="lead">Comience el proceso de autenticación con MercadoLibre para publicar productos y recibir ventas</p>
    <p><a href="@ViewBag.Link" class="btn btn-primary btn-lg">Comenzar &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>Publicá productos con todas sus características, ficha técnica, alternativas y mucho más!</p>
    </div>
    <div class="col-md-4">
        <h2>Ventas</h2>
        <p>Recibí notificaciones de ventas, gestioná envíos imprimiendo las etiquetas y embalando los productos a tiempo, no esperes más!</p>
    </div>
</div>
